{% extends "homepage.html" %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block content %}
<p class="fs-5 col-md-12"><a href="https://splittymon.com">Splittymon</a></p>
<p>Splittymon allows users to upload mp3/wav files to separate vocals from instruments. Development in progress.</p>
<p class="fs-5 col-md-12"><a href="https://www.zuppclub.com/">ZuppClub</a></p>
<p>ZuppClub recommends and sells supplements at wholesale price.</p>
<p class="fs-5 col-md-12"><a href="{{ url_for('hello') }}">Quote scraper</a></p>
<p>Leverages the <i>requests</i> and <i>bs4</i> libraries to scrape quotes from greatday.com</p>
{% endblock %}

{% block bottom %}
{% endblock %}