{% extends "homepage.html" %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block content %}
  <h1>Why I began coding...</h1>
  <p></p>
  <p></p>
  <p class="fs-5 col-md-12">well, I had no idea what I was getting into. I wanted to try something new.</p>
  <p>The story I tell is: I read a Steve Job's biography and Apple's story inspired me to try writing code. I thought I was bright enough to try ... but it didn't take long until I realized how difficult it was to follow and understand instructions. I remember buying access to a tutorial to build a game, but it was too hard. I think it was Andrew Huberman who said that making errors 15% of the time is <a href="https://www.instagram.com/tv/CY2JyFAh7TY/?utm_medium=copy_link&hl=en">optimal</a> for learning. Well, at that time I was failing 98% of the time. I wasn't learning much on my own.</p>
  <p>Due to a mix of factors I decided to enroll back at Rutgers after a 3-4 year break. I took an intro class about computers and remember learning about bits, pixels, packets, and components of programming using Scratch. For the next few years, I was challenged by math, data structures, algorithms, and just how to assemble things together. In a way, I was forced to read code and make concrete sense out of the abstract. Studying CS, I always felt like the dumbest person in every lecture hall. But, I persisted. Eventually I started building websites and web crawlers.</p>
  <p>Fast foward to today, I'm humbled by how far I've come as a programmer. In the beginning I couldn't comfortably print out "Hello World" by myself. Now I'm committing on the daily on GitHub and writing source code for Bloomberg. For the next 3 months I'll be attending lectures and working on assigned projects to increase my knowledge and skills. I'm excited for what is ahead.</p>
  <p></p>
  <p>I'm proud of the progress, which is slow but steady. Coding is creating. And creating feels good because we're putting life into something.</p>
  <p>The more I learn, the more high I feel standing on top of shoulders of giants.</p>
  <p>I started coding because I was curious and my curiosity doesn't seem to have an end. Maybe curiosity breeds more curiosity.</p>
  <p>I also coded for the money but.. wow, money doesn't fix your problems. That's a level of wealth to realize that, no? I have enough even though I want to accumulate much, much more.</p>
  <p>Programming became my time of solitude. It was just me clacking on a keyboard searching for answers on stack overflow. Thinking. Applying. Debugging. Eventually this became fun and as cliche as it may sound, learning to program paved another avenue for self-expression. I want to become more involved with communities though, I can be quite anti-social at times.</p>
  <p>Also it feels like I'm building a relationship with computers. That might sound strange, but I feel like I appreciate and admire computing just as a car mechanic might appreciate and admire a car.</p>
  <p>Lastly, there is utility in building applications, because innovation affects how we live and interact in our world. Eventually I would love to build useful/fun stuff and teach others who want to learn how to do similar things. That said, I'm still a novice and will be for quite some time. But that's okay. We'll be solving problems for the rest of our lives.</p>
  <p>Anyway, why ekim420?</p>
  <p></p>
  <p><i>To be continued...</i></p>
  <p>5.18.22</p>
  
{% endblock %}

{% block bottom %}
{% endblock %}