{% extends "homepage.html" %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block content %}
  <h1>Why I began coding...</h1>
  <p></p>
  <p></p>
  <p class="fs-5 col-md-12">well, I had no idea. I wanted to try something new, I guess. </p>
  <p>I mean don't we all? lol</p>
  <p>I've been getting into defi as of late. The idea of decentralization is imagination provoking. Avalanche and Cardano and Ethereum. I like their technologies and Bitcoin started it.</p>
  <p></p>
  <p>I'm amazed how far I've come as a programmer. I could barely print out "Hello World" the first time. Now I'm committing on the daily on GitHub and writing source code for Bloomberg.</p>
  <p>For the next 3 months I'll be taking classes/lectures and working on assigned projects to increase knowledge/skills. I'm excited.</p>
  <p></p>
  <p>I'm proud of the progress. Slow but steady. Coding is creating. And creating feels good because we're putting life into something. Where's your energy going?</p>
  <p>The more I learn, the more high I feel on top of shoulders of giants.</p>
  <p>I started because I was curious and curiosity doesn't have an end.</p>
  <p>I also coded for the money but.. wow, money doesn't fix your problems. That's a level of rich to realize that, no? I have enough even though I want to accumulate much much more.</p>
  <p>I was greedy sometimes, but eventually doing this became my time of solitude. It was just me clacking on a keyboard searching for answers on stack overflow. Thinking. Applying. Debugging. Eventually gaining and sharing knowledge became fun. As cliche as it may sound, learning to program paved another avenue for self-expression.</p>
  <p>There is utility in building applications, because innovation affects how we live and interact in our world. Eventually I would love to build useful/fun stuff and teach others who want to learn how to do similar things. That said, I'm still a novice and will be for quite some time. But that's okay. We'll be solving problems for the rest of our lives.</p>
  <p>Anyway, why ekim420?</p>
  <p></p>
  <p><i>To be continued...</i></p>
  <p>5.18.21</p>
  
{% endblock %}

{% block bottom %}
{% endblock %}