{% extends "homepage.html" %}

{% block navbar %}
<nav class="navbar navbar-expand bg-light rounded" aria-label="Second navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('hello') }}">ekim420</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav me-auto">
            
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('hello') }}">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('why_I_began_coding') }}">Essay #1</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <hr class="col-3 col-md-2 mb-5">
{% endblock %}

{% block content %}
  <h1>Why I began coding...</h1>
  <p></p>
  <p></p>
  <p class="fs-5 col-md-12">well, I had no idea. I wanted to try something new, I guess. </p>
  <p>I mean don't we all? lol</p>
  <p>I've been getting into defi as of late. The idea of decentralization is imagination provoking. Avalance and Cardano and Ethereum. I like their technologies and Bitcoin started it.</p>
  <p></p>
  <p>I'm amazed how far I've come as a programmer. I could barely print out "Hello World" the first time. Now I'm committing on the daily on GitHub and writing source code for Bloomberg.</p>
  <p>For the next 3 months I'll be taking classes/lectures and working on assigned projects to increase knowledge/skills. I'm excited.</p>
  <p></p>
  <p>I'm proud of the progress. Slow but steady. Coding is creating. And creating feels good because we're putting life into something. Where's your energy going?</p>
  <p>The more I learn, the more high I feel on top of shoulders of giants.</p>
  <p>I started because I was curious and curiosity doesn't have an end.</p>
  <p>I also coded for the money but.. wow, money doesn't fix your problems. That's a level of rich to realize that, no? I have enough even though I want to accumulate much much more.</p>
  <p>I was greedy sometimes, but eventually doing this becamse my time of solitude. It was just me clacking on a keyboard searching for answers on stack overflow. Sharing knowledge is wealth too.</p>
  <p>I believe building applications is meaningful.</p>
  <p>Anyway, why ekim420?</p>
  <p></p>
  <p><i>To be continued...</i></p>
  
{% endblock %}